PUT returns incorrect ETag

**Describe the bug**

PUT returns the etag of the old file

**To Reproduce**
echo 1 > test.txt
`curl -i -u <username>:<password> -T test.txt http://<SEAFILE>/seafdav/My%20Library/test.txt | grep ETag`
  ETag: "0000000000000000000000000000000000000000"
Upload the same file again:
`curl -i -u <username>:<password> -T test.txt http://<SEAFILE>/seafdav/My%20Library/test.txt | grep ETag`
ETag: "18af36012d39fe252af6864efbb6e82337a483d4"
Upload new content:
echo 2 > test.txt
`curl -i -u <username>:<password> -T test.txt http://<SEAFILE>/seafdav/My%20Library/test.txt | grep ETag`
ETag: "18af36012d39fe252af6864efbb6e82337a483d4"
GET the '2' back:
`curl -i -u <username>:<password> http://<SEAFILE>/seafdav/My%20Library/test.txt | grep ETag`
ETag: "d0c34aa9d4fee23d44e4106942a12bfeb7662a9d"


**Expected behavior**
Return the etag of the PUT body, as per RFC.

Which WSGI server was used (cheroot, ext-wsgiutils, gevent, gunicorn, paste, uvicorn, wsgiref, ...)?

gunicorn

Which WebDAV client was used (MS File Explorer, MS Office, macOS Finder, WinSCP, Windows, file mapping, ...)?
curl

**Additional context**

Tested with 10.0.1 and 12.0.14

This breaks sync programs that use etag to avoid multiple instances writing to the same file.

RFC 4918 section 8.6
```
   Note that the meaning of an ETag in a PUT response is not clearly
   defined either in this document or in [RFC 2616](https://datatracker.ietf.org/doc/html/rfc2616) (i.e., whether the
   ETag means that the resource is octet-for-octet equivalent to the
   body of the PUT request, or whether the server could have made minor
   changes in the formatting or content of the document upon storage).
   This is an HTTP issue, not purely a WebDAV issue.

   Because clients may be forced to prompt users or throw away changed
   content if the ETag changes, a WebDAV server SHOULD NOT change the
   ETag (or the Last-Modified time) for a resource that has an unchanged
   body and location.  The ETag represents the state of the body or
   contents of the resource.  There is no similar way to tell if
   properties have changed.
```

Note it says octet-for-octet equivalent to the *body* of the PUT request, not previous content.
If the server modifies the body (structured storage that adds a timestamp, for example) it has become convention to not return an etag, forcing the client to GET the resulting file back.  That shouldn't apply here, as seafile stores the file unchanged.


This is fixed in https://github.com/haiwen/seafdav/pull/96 . It will be included in the next v13.0 release.