getetag returns unquoted string

**Describe the bug**
The `PROPFIND /` request returns entries that contain unquoted etag values (instead of the RFC2616 section 3.11 that dictates `quoted-string`. See also https://greenbytes.de/tech/webdav/draft-ietf-webdav-rfc2518bis-14.html#n-getetag-property

```xml
    <D:response>
        <D:href>/Camera%20Upload/My%20Photos/Camera/IMG_20200812_081459244.jpg</D:href>
        <D:propstat>
            <D:prop>
                <D:resourcetype></D:resourcetype>
                <D:getcontentlength>3267942</D:getcontentlength>
                <D:getcontenttype>image/jpeg</D:getcontenttype>
                <D:getlastmodified>Wed, 12 Aug 2020 14:14:24 GMT</D:getlastmodified>
                <D:displayname>IMG_20200812_081459244.jpg</D:displayname>
                <D:getetag>0aa1cc5135610b957fa603bae09808a4d7ce04cf</D:getetag>
                <D:lockdiscovery/>
                <D:supportedlock>
                    <D:lockentry>
                        <D:lockscope>
                            <D:exclusive/>
                        </D:lockscope>
                        <D:locktype>
                            <D:write/>
                        </D:locktype>
                    </D:lockentry>
                    <D:lockentry>
                        <D:lockscope>
                            <D:shared/>
                        </D:lockscope>
                        <D:locktype>
                            <D:write/>
                        </D:locktype>
                    </D:lockentry>
                </D:supportedlock>
            </D:prop>
            <D:status>HTTP/1.1 200 OK</D:status>
        </D:propstat>
    </D:response>
```

Specifically this line:

```xml
                <D:getetag>0aa1cc5135610b957fa603bae09808a4d7ce04cf</D:getetag>
```

**To Reproduce**
Do a `HTTP PROPFIND` request to `/`

**Expected behavior**
Entries with `getetag` to include quotes, always.

**Environment:**
Direct HTTP request. 

**Additional context**
This causes issues with e.g. https://github.com/emersion/go-webdav and software that uses it, like https://github.com/photoprism/photoprism

@EtienneBruines Hello, seafdav is developed based on the wsgidav project. I just tested the wsgidav project directly, and the returned `<D:getetag>55551236-1707295960-469</D:getetag>` indeed does not have quotes. However, I think this might be a relatively standard response. Can the issue you mentioned earlier be reproduced in seafdav? If so, could you please provide detailed reproduction steps?
